In [3]:
# Ruchika
# Aim: Study of list
listfruits=["apple","orange","cherry"]
print(listfruits)

['apple', 'orange', 'cherry']

In [1]:
# elements of the list can repeat
listfruits=["apple","orange","apple","cherry"]
print(listfruits)

['apple', 'orange', 'apple', 'cherry']

In [4]:
# finding the length of list
list1=[2,2.5,True,"ruchika"]
print(list1)
print(len(list1))

[2, 2.5, True, 'ruchika']
4

In [5]:
# adding new elements to the list later
listfruits=["apple","orange","cherry"]
listfruits.append("banana")
print(listfruits)

['apple', 'orange', 'cherry', 'banana']

In [10]:
# printing only one element
listfruits=["apple","orange","cherry"]
print(listfruits[0])

apple

In [12]:
# printing two elements only
listfruits=["apple","orange","cherry"]
print(listfruits[0],listfruits[-2])

apple orange

In [11]:
listfruits=["apple","orange","cherry"]
print(listfruits[0])
print(listfruits[-2])
listfruits.append("banana")
print(listfruits[0])
print(listfruits[-2])
print(listfruits)

apple
orange
apple
cherry
['apple', 'orange', 'cherry', 'banana']

In [20]:
# adding new element to the list at a certain position
listfruits=["apple","orange","cherry"]
listfruits.insert(1,"banana")
print(listfruits)
# if integer writing without double qoutes

['apple', 'banana', 'orange', 'cherry']

In [22]:
# replacing element with another element
listfruits=["apple","orange","cherry"]
listfruits[1]="banana"
print(listfruits)

['apple', 'banana', 'cherry']

In [27]:
# combining two different lists together(using addition)
list1=["apple","orange","cherry"]
list2=["mango","pineapple","banana"]
list=(list1+list2)
print(list)

# combining two different lists together(using extend command)
list1=["apple","orange","cherry"]
list2=["mango","pineapple","banana"]
list1.extend(list2)
print(list1)

['apple', 'orange', 'cherry', 'mango', 'pineapple', 'banana']
['apple', 'orange', 'cherry', 'mango', 'pineapple', 'banana']

In [33]:
# printing elements point-to-point wise
list1=["apple","banana","cherry","kiwi","mango","pineapple"]
print(list1[2:5])
print(list1[3:6])
print(list1[1:]) #prints from 1 element till end
print(list1[:4]) #prints from starting to 3 element

['cherry', 'kiwi', 'mango']
['kiwi', 'mango', 'pineapple']
['banana', 'cherry', 'kiwi', 'mango', 'pineapple']
['apple', 'banana', 'cherry', 'kiwi']

In [34]:
#question
#create a list of 5 student name
#display the first and last student
#add a new student
#remove any one student
#sort the list alphabetically

studentlist=["riya","rita","rahul","sham","priya"]
print(studentlist)
print(studentlist[0],studentlist[4])
studentlist.append("rohan")
print(studentlist)
studentlist.remove("rita")
print(studentlist)
studentlist.sort()
print(studentlist)

['riya', 'rita', 'rahul', 'sham', 'priya']
riya priya
['riya', 'rita', 'rahul', 'sham', 'priya', 'rohan']
['riya', 'rahul', 'sham', 'priya', 'rohan']
['priya', 'rahul', 'riya', 'rohan', 'sham']

In [45]:
#question
#create a list of student marks
#display highest and lowest marks
#calculate average marks
#sort the marks in ascending order

studentmarks=[23,15,44,34,27]
print(studentmarks)
print(max(studentmarks))
print(min(studentmarks))
print(sum(studentmarks)/len(studentmarks))
studentmarks.sort()
print(studentmarks)

[23, 15, 44, 34, 27]
44
15
28.6
[15, 23, 27, 34, 44]